*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

body  {
    background-color: black;
}

/* header */
header nav  {
    width: 100%;
    position: fixed;
    background-color: black;
}

header nav div  {
    text-align: right;
    line-height: 2em;
}
header nav div button  {
    color: white;
    background-color: #222222;
    border: 0;
    border-radius: 5px;
    height: 2em;
    width: 8em;
    font-weight: 600;
}

header nav div button:hover  {
    background-color: #4a4a4a;
    cursor: pointer;
}

header nav div button:last-child  {
    width: 2em;
}

/* main */
.container  {
    height: 500px;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 50px 50px 20px 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image  {
    background-image: url(https://picsum.photos/536/354);
    height: 140px;
    width: 230px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1em;
}
div.image span  {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(128, 128, 128, 0.5);
    height: 1.5em;
    padding: 0.2em 0.2em;
}