*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

body  {
    background-color: black;
}

/* header */
header nav  {
    width: 100%;
    position: fixed;
    background-color: black;
}

header nav div  {
    text-align: right;
    line-height: 2em;
}
header nav div button  {
    color: white;
    background-color: #222222;
    border: 0;
    border-radius: 5px;
    height: 2em;
    width: 8em;
    font-weight: 600;
}

header nav div button:hover  {
    background-color: #4a4a4a;
    cursor: pointer;
}

header nav div button:last-child  {
    width: 2em;
}

/* main */
.container  {
    height: 500px;
    width: 100%;
    background-color: khaki;
}